<div class="container">
  <div class="menu">
    {{#link-to "index"}}
      <h1>
        <em>SuperRentals</em>
      </h1>
    {{/link-to}}
    <div class="links">
      {{#link-to "about" class="menu-about"}}
        About
      {{/link-to}}
      {{#link-to "contact" class="menu-contact"}}
        Contact
      {{/link-to}}
      {{#link-to "timer" class="menu-timer"}}
        Timer
      {{/link-to}}
      {{#link-to "calculator" class="menu-calculator"}}
        Calculator
      {{/link-to}}
    </div>
  </div>
  <div >
    {{outlet}}
  </div>
</div>